* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100px 25px repeat(3, 1fr) 50px;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: 1 / 1 / 2 / 6;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.logo {
  justify-self: start;
}
.menu{
  display: grid;
}

.menu ul,
.menu li {
  font-size: 16px;
  justify-content: space-evenly;
}

.sidebar {
  background-color: #C50208;
  grid-area: 2 / 1 / 6 / 2;
  display: grid;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
  grid-area: 2 / 2 / 3 / 6;
  grid-row: 50px;
  display: grid;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-area: 3 / 2 / 5 / 6;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: 5 / 1 / 6 / 6;
  grid-row: 50px;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}